.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  color: #fff;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.hover{
  --delay:0.5s;
  transition: all var(--delay);
  border-radius: 10px;
}
.hover:hover{
  cursor: pointer;
  transform: translateY(-2%);
  box-shadow: 1px 1px 10px 2px #CCC;
  backdrop-filter: blur(10px);
  animation-name: float;
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes float {
  0%{
    transform:  translateY(-2%);
  }
  50%{
    transform:  translateY(-3%);
  }
  100%{
    transform:  translateY(-2%);
  }
}