.container {
    text-align: center;
}
.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btnWrap{
    width:100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
